body{
	background-color: rgb(70,50,230);
	background-image: url("AboutUs.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0px;
	position: fixed;
}

.header1 {
	width: 100%;
	height: 150px;
	background-color: rgb(210,105,30);
	padding: 0px;
	border: 0px;
	margin: 0px;
	float: top;
	overflow: hidden;
}

.header1 h1{
	text-align: left;
	font-size: 100px;
	padding: 17px 25px;
	font-family: Sans-serif;
	border: 0px;
	margin: 0px;
	color: white;
}

.header2 {
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 100%;
	height: 50px;
	background-color: green;
	overflow: hidden;
}

.header2 h3{
	font-size: 40px;
	align-self: left;
	color: white;
	padding: 0px 20px;
	border: 0px;
	margin: 0px;
}

.text{
	color: black;
	font-size: 40px;
	text-align: center;
	padding-top: 170px;
	overflow: hidden;
}

.cr {
	color: red;
	position: bottom;
	padding-bottom: 20px;
	overflow: hidden;
}