<!DOCTYPE html>
<html style="margin: 0px;"><link href="style.css" type="text/css" rel="stylesheet"/> 
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.6.1/jasmine.min.css">
		<title>Archangel</title>
	</head>
	<header class="title">
		<center>
			<h1 class="logo" ng-click="home()">
				Archangel
			</h1>
		</center>
	</header>
	<div class="menu"  ng-click="">
		<center>
			<h3 style="padding: 2px; margin: 2px;">
				Menu
			</h3><br>
			<a href="charities.html" style=" color: white;">Charities</a><br>
			<a href="technology.html" style=" color: white;">Technology</a><br>
			<a href="politics.html" style=" color: white;">Politics</a><br><br>
			<input id="northAmerica" type="button" value="North America" onclick="northAmerica()"><br><br>
			<input id="southAmerica" type="button" value="South America" onclick="southAmerica()"><br><br>
			<input id="africa" type="button" value="Africa" onclick="africa()"><br><br>
			<input id="asia" type="button" value="Asia" onclick="asia()"><br><br>
			<input id="europe" type="button" value="Europe" onclick="europe()"><br><br>
		</center>
	</div>
	<body style="margin: 0px; height: 100%; width: 100%;">
		<canvas id="earth" style="margin: 0px; display: block;"></canvas>
		<script src="../ThreeJS/three.js"></script>
		<script src="../ThreeJS/OrbitControls.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.6.1/jasmine.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.6.1/jasmine-html.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.6.1/boot.min.js"></script>
		<script src="globe.js"></script>
	</body>
</html>