.title { 
	position: absolute; 
	width: 100%; 
}

.logo {
	color: white;
	width: 10%;
}

.menu {
	width: 10%; 
	position: absolute; 
	color: white; 
	float: left; 
	border: solid; 
	margin: 10px;
}

.body {
	margin: 0px; 
	height: 100%; 
	width: 100%;
}

.three {
	margin: 0px; 
	display: block;
}