.title { 
	position: absolute; 
	width: 100%; 
	display: block;
}

.logo {
	color: white;
	width: 10%;
	margin-top: 10px;
}

.menu {
	width: 10%; 
	position: absolute; 
	color: white; 
	float: left; 
	border: solid; 
	margin: 10px;
	margin-top: 200px; 
	background-color: gray;
	display: block;
}

.body {
	margin: 0px; 
	height: 100%; 
	width: 100%;
}

.three {
	margin: 0px; 
	display: block;
}

.button {
	color: black;
	background-color: white;
	border: none;
	cursor: pointer;
	padding: 8px 8px;
	border-radius: 10%;
}

.ham {
	position: absolute;
	height: 30px;
	right: 1em;
	top: 0.5em;
	cursor: pointer;
	display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown-content {
	color: white;
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: .5em;
    top: 3em;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.popup {
	width: 23%;
	height: 40%;
	border: solid;
	border-color: white;
	background-color: gray;
	color: white;
	position: absolute;
	right: 7em;
	top: 20em;
	overflow: auto;
	padding: 10px;
}

#na {
	display: none;
}