.title { 
	position: absolute; 
	width: 100%; 
}

.logo {
	color: red;
	width: 10%;
}

.logo:hover {
	color: black; 
	background-color: red; 
	width: 10%;
}

.menu {
	width: 10%; 
	position: absolute; 
	color: red; 
	float: left; 
	border: solid; 
	margin: 10px;
}

.menu:hover {
	width: 10%; 
	position: absolute; 
	color: black;
	background-color: red; 
	float: left; 
	border: solid; 
	margin: 10px;
}

.body {
	margin: 0px; 
	height: 100%; 
	width: 100%;
}

.three {
	margin: 0px; 
	display: block;
}